.container {
    text-align: right; 
  }

header{
    font-family: monospace; 
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    float:none;
    margin-top:30px;
}

.custom-select {
  position: relative;
  display: inline-block;
  margin-left: 400px; 
  margin-top: 30px; 
  margin-bottom:20px;
}
  
  .content-below{
    margin-top: 10px; 
}

#id-dropdown {
    background: transparent;
    border: 1px solid black; 
    border-radius: 20px;
    color: black; 
    padding: 15px;
    cursor: pointer;
    width: 200px;
    font-family: monospace;
  }
  

  .custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  

  #id-dropdown option {
    background-color: transparent;
    color: black;
  }
  

  #id-dropdown::after {
    content: "";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
#data-container{
    
    outline: 5px dashed black;
    font-family: monospace; 
    font-weight: bold; 
    font-size: 26px;
    border: 2px solid black; 
    padding: 25px;
    display: inline-block;
    position: relative;
    display: inline-block;
    margin-left: 800px; 
    margin-top: 30px; 
    margin-bottom:20px;
}